.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainContainer {
  width: 80%;
  margin: auto;
}

.App-header {
  align-items: stretch;
  min-height: 3.25rem;
  width: 100%;
  display: inline-block;
}

ul li{
  display: inline-block;
}

a:link {
  text-decoration: none;
  /* background-color: #3698f4; */
  color: #3698f4;
  padding: 14px 25px;
  border-radius: 25px;
  display: inline-block;
}

a:hover, a:active{
  background-color: #3698f4;
  color: white;
}

.logo {
  height: 50px;
  padding: 10px;
  float: left;
}

.social {
  float: left;

}

.App-link {
  color: #61dafb;
}

.avatar {
  height: 300px;
  float: left;
  padding: 20px;
}

/* //container */

.container {
  height: 350px;
  background-color: #3698f4;
  display: flex;
  width: 100%;
}

.heroContainer {
  color: white;
  width: 50%;
  margin: auto;
}

.heroName {
  font-size: 40px;
}

.heroRole {
  font-size: 30px;
}
.heroDesc {
  font-size: 20px;
}

.heroProjects {
  color: #3698f4;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 40px;
  text-align: center;
}

.Footer {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
